@mixin card {
    display: flex;
    flex-direction: column;
    background: $colour-white;
    height: 25%;
    border-radius: 20px;
    width: $width-full;
    text-decoration: none;
    color: $colour-black;
}