/***loder spinner***/

.load {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 50px;
    background: rgba($color: black, $alpha: 0.5);
    animation: load 3s 1s forwards;
    z-index: 900;
    &__bar {
        background-color: turquoise;
        /** problem when adding a $colour-tertiary variable***/
        height: 80px;
        width: 80px;
        animation: bars 1s forwards 3 ease alternate;
    }
}

@keyframes load {
    0% {
        display: flex;
        transform: translateX(0);
    }
    100% {
        visibility: hidden;
    }
}

@keyframes bars {
    0% {
        transform: scaleY(0);
    }
    50% {
        background-color: yellow;
    }
    100% {
        transform: scaleY(1);
        background-color: pink;
        visibility: hidden;
    }
}