        @mixin main-title {
            font-weight: 700;
            font-size: 30px;
            padding-top: 30px;
            padding-bottom: 20px;
        }
        
        @mixin card-title {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 5px;
        }
        
        @mixin card-title-light {
            font-size: 15px;
            font-weight: 300;
        }
        
        @mixin price-title-light {
            font-size: 16px;
            font-weight: 500;
        }
        
        @mixin text-footer {
            text-decoration: none;
        }