/*Composant*/
/***loder spinner***/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
.load {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.load__bar {
  background-color: blue;
  /** problem when adding a $colour-tertiary variable***/
  height: 80px;
  width: 80px;
  animation: bars 1000ms backwards infinite ease-in-out alternate;
}
.load__bar--1 {
  animation-delay: 200ms;
}
.load__bar--1-inv {
  animation-delay: 1130ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background-color: blue;
}
.load__bar:hover {
  animation-play-state: paused;
}
.load__bar--2 {
  animation-delay: 400ms;
}
.load__bar--2-inv {
  animation-delay: 880ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background-color: blue;
}
.load__bar:hover {
  animation-play-state: paused;
}
.load__bar--3 {
  animation-delay: 600ms;
}
.load__bar--3-inv {
  animation-delay: 1530ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background-color: blue;
}
.load__bar:hover {
  animation-play-state: paused;
}
.load__bar--4 {
  animation-delay: 800ms;
}
.load__bar--4-inv {
  animation-delay: 2165ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background-color: blue;
}
.load__bar:hover {
  animation-play-state: paused;
}
.load__bar--5 {
  animation-delay: 1000ms;
}
.load__bar--5-inv {
  animation-delay: 2455ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background-color: blue;
}
.load__bar:hover {
  animation-play-state: paused;
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
/*Layout*/
/*Utils*/
/*colour*/
/*shawdow*/
/*border-radius*/
/*icons-size*/
/*width*/
/*padding*/
/*font-size*/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Roboto, sans-serif;
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

button {
  font-family: Roboto, sans-serif;
}

/*** header ***/
.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  box-shadow: 0px 3px 8px 1px black;
  position: relative;
  z-index: 5;
  margin-bottom: 5px;
  box-shadow: 0px 3px 8px 1px #666666;
}

.logo-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px;
}

.logo-img-menu {
  height: 40px;
}

.fa-arrow-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.logo-img {
  height: 40px;
}

.top__form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: black;
  gap: 10px;
  height: 40px;
  background-color: #e6e6e6;
}

.heading-discover {
  background-color: black;
  background-color: #f2f2f2;
  padding: 30px;
}
.heading-discover__main {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.heading-discover__main-light {
  font-weight: 200;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.btn {
  display: block;
  margin: auto;
  color: white;
  background-image: linear-gradient(to bottom right, #FF79DA 15%, #9356DC 85%);
  padding: 15px;
  border: none;
  box-shadow: 5px 5px 5px #cccccc;
  border-radius: 50px;
  font-size: 12px;
  width: 190px;
  opacity: 1;
  transition: all 300ms;
}
.btn:hover {
  opacity: 0.85;
  box-shadow: 5px 5px 5px #a6a6a6;
}

/***  Block 2 ***/
.intro-block {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}
.intro-block .title-h2 {
  font-weight: 700;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.intro-block__mini {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 60px;
  border-radius: 20px;
  padding-left: 10px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px #e6e6e6;
  background: #f2f2f2;
}
.intro-block__mini:hover {
  background: #f2eafb;
}
.intro-block__mini:hover .block-2__icon {
  color: #9356DC;
}

.intro-block__icon {
  color: gray;
}
.intro-block__icon__icon:hover {
  color: #9356DC;
}

.purple_circle {
  position: relative;
  left: -20px;
  background-color: #9356DC;
  color: white;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  text-align: center;
}

/*** section : all restaurant cards ***/
.block-card {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  background-color: #f2f2f2;
}
.block-card .title_h2 {
  font-weight: 700;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.block-card .all-card-prev {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}
.block-card .card-prev {
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 20px;
  width: 100%;
  text-decoration: none;
  color: black;
}
.block-card .card-prev__img {
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 30vw;
}
.block-card .card-prev__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}
.block-card .card-prev__title--light {
  font-size: 15px;
  font-weight: 300;
}
.block-card .card-prev__txt {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  padding-left: 10px;
  padding-bottom: 10px;
}
.block-card .card-prev__nouveau {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: #99E2D0;
  padding: 5px;
  border-radius: 3px;
  color: #278870;
}

/*** footer ***/
.footer-container {
  padding: 15px;
  background: #333333;
}
.footer-container .logo-font {
  font-family: Shrikhand, sans-serif;
  color: white;
  padding-bottom: 10px;
}
.footer-container .icon__f {
  color: white;
  font-size: 12px;
}
.footer-container .text__footer {
  color: white;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

.f {
  margin-bottom: 5px;
}

/*** page menu ***/
.img-heading {
  position: absolute;
}

.block-menu {
  position: relative;
  top: 250px;
  padding: 10px 30px 0px 30px;
  border-radius: 50px 50px 0px 0px;
  background-color: #f2f2f2;
}
.block-menu__title--M {
  font-weight: 700;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: Shrikhand, sans-serif;
}
.block-menu__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-menu__meal-heading {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 300;
  padding-top: 40px;
  padding-bottom: 5px;
  position: relative;
}
.block-menu__meal-heading::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 7%;
  /* or 100px */
  border-bottom: 3px solid #99E2D0;
}
.block-menu .detailed-menu {
  background-color: white;
  box-shadow: 7px 7px 5px #e6e6e6;
  border-radius: 20px;
  width: 100%;
  height: 80px;
  padding: 20px 25px 20px 20px;
  margin-top: 10px;
}
.block-menu .detailed-menu__space-card {
  display: flex;
  justify-content: space-between;
}
.block-menu .detailed-menu__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}
.block-menu .detailed-menu__title--light {
  font-size: 15px;
  font-weight: 300;
}
.block-menu .detailed-menu__price {
  font-size: 16px;
  font-weight: 500;
}
.block-menu .detailed-menu .__txt {
  display: flex;
  justify-content: flex-end;
}

.btn-2 {
  padding-top: 50px;
  padding-bottom: 60px;
}

.footer--page-menu {
  position: relative;
  top: 250px;
}

/*# sourceMappingURL=styles.css.map */
